.chats .chats_list{
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.chats_list .chats_chat{
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
}

/* 중복되는 테두리 제거  */
.chats_list .chats_chat:last-child{
  border:none;
}

.chats_chat
.chat_content img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right:15px;
}

/* flex를 적용시키기 위해 요소들이 담긴 부모태그를 찾는다
 ----> a 태그  */
 .chats_list
 .chats_chat a{
   display: flex;
   justify-content:space-between;
   text-decoration:none;
   color: inherit;
 }

 .chats_chat
 .chat_content{
   display:flex;
   align-items:flex-start;
 }

 .chat_content
 .chat_preview
 .chat_user{
   font-weight: 600;
   margin-bottom: 5px;
 }

.chats_chat
.chat_last_message{
  color:#b4b4b4;
  font-size:11px;
}

.chats_chat
.chat_date_time{
  font-size: 10px;
  color: #b4b4b4;
}

.chats
.chat_btn{
  width: 50px;
  height: 50px;
  background-color: #ffe94a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right:20px;
  bottom: 80px;
  font-size: 20px;
  color:#523737;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: color .3s, background .3s, transform .5s ease-in-out;
}
/* 아이콘은 폰트로 인식되기 땜에 폰트사이즈로 아이콘 크기를 바꿀수 있따. */
.chats
.chat_btn:hover{
  color: white;
  background: #523737;
  transform: rotateY(1turn);
}
